
/* Grayscale */

$dark-text: #eee;
$dark-text-hover: #dfdfdf;
$dark-0: #222;
$dark-1: #444;
$dark-2: #555;
$dark-3: #666;
$dark-4: #777;


/* Blue */
/*
$dark-4: #456FB2;
$dark-3: #3B5F99;
$dark-2: #314F7F;
$dark-1: #273F66;
$dark-0: #1D2F4C;
*/

/* Light */
$light-text: #111;
$light-text-hover: #222;
$light-0: #FFF;
$light-1: #f5f5f5;
$light-2: #EEE;
$light-3: #CCC;
$light-4: #BBB;