
/* Grayscale */

$dark-0: #222;
$dark-1: #444;
$dark-2: #555;
$dark-3: #666;
$dark-4: #777;


/* Blue */
/*
$dark-4: #456FB2;
$dark-3: #3B5F99;
$dark-2: #314F7F;
$dark-1: #273F66;
$dark-0: #1D2F4C;
*/