

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.master-container {
	height: 100%;
	width: 100%;
	padding-left: 0px;
}

@media(min-width:768px) {
	.master-container {
		padding-left: 200px;
	}
}

@import "mixins";

@import "common/config";

@import "layout/nav";
@import "layout/page";
@import "layout/loader";

@import "modules/feed";
@import "modules/browsecontrols";
@import "modules/map";
@import "modules/infowindow";
@import "modules/listing";
@import "modules/colours";
@import "modules/overlay";
@import "modules/event";
@import "modules/packed";
@import "modules/datepicker";
