<div class="infowindow">

		<!-- Wrapper for slides -->
		{{#Events}}
			<div class="col-md-12">
				{{#Thumbnail}}
				<a href="{{.Url}}">
					<img class="img-responsive" src="{{Thumbnail.Url}}?width=200&height=100&mode=crop" alt="">
				</a>
				{{/Thumbnail}}
				<h3>
					<a href="{{Url}}">{{Title}}</a>
				</h3>
				<p>{{StartTime}} - {{SummaryShort}}</p>
			</div>
		{{/Events}}

</div>

