@inherits Our.Umbraco.Ditto.DittoView<LiveLink.Services.Models.ViewModels.NavigationViewModel>


<div class="ui fixed menu nav">
	<div class="ui container">
		<a href="/feed" class="header item">
			LIVELINK
		</a>
		<div class="item hide-on-mobile">
			<div class="browsecontrols">
				<form class="js-browse-controls" id="js-browse-controls-id" action="#" autocomplete="off">
					<input onClick="this.setSelectionRange(0, this.value.length)" class="browsecontrols__search-input js-search-input" type="text" value="" placeholder="Search..">
					<input class="datepicker" data-role="filter" type="text" name="EarliestDate" value="@DateTime.Now.ToString("MM/dd/yyyy")" placeholder="From..">
					<input class="datepicker" data-role="filter" type="text" name="LatestDate" value="" placeholder="Until..">
					<input class="js-bounds-min-x" data-role="filter" type="hidden" name="BoundMinX" value="1234">
					<input class="js-bounds-max-x" data-role="filter" type="hidden" name="BoundMaxX">
					<input class="js-bounds-min-y" data-role="filter" type="hidden" name="BoundMinY">
					<input class="js-bounds-max-y" data-role="filter" type="hidden" name="BoundMaxY">

					<div class="browsecontrols__search js-search-results">
					</div>
				</form>
			</div>
		</div>
		
		<div class="right menu">
		<!--
		<a class="item hide-on-mobile" href="/map"><i class="map icon"></i> Map</a>
			-->
			<a class="item" href="/feed"><i class="list icon"></i> Feed</a>
		</div>
	</div>
</div>


<!-- Form Controls -->
@*

			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/browse">LIVELINK</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>
					<!-- Form Controls -->
					<div class="browsecontrols">
						<form class="js-browse-controls" action="#" autocomplete="off">
							<input onClick="this.setSelectionRange(0, this.value.length)" class="browsecontrols__search-input js-search-input" type="text" value="" placeholder="Search..">
							<input class="datepicker" data-role="filter" type="text" name="EarliestDate" value="@DateTime.Now.ToString("MM/dd/yyyy")" placeholder="From..">
							<input class="datepicker" data-role="filter" type="text" name="LatestDate" value="" placeholder="Until..">
							<input class="js-bounds-min-x" data-role="filter" type="hidden" name="BoundMinX" value="1234">
							<input class="js-bounds-max-x" data-role="filter" type="hidden" name="BoundMaxX">
							<input class="js-bounds-min-y" data-role="filter" type="hidden" name="BoundMinY">
							<input class="js-bounds-max-y" data-role="filter" type="hidden" name="BoundMaxY">

							<div class="browsecontrols__search js-search-results">
							</div>
						</form>
					</div>
				</li>
			</ul>

	<ul class="nav navbar-nav navbar-right">

		<!-- ADMINISTRATION - SUPERUSERS ONLY -->
		<li>
			<a href="/umbraco" target="_blank"><i class="fa fa-unlock-alt fa-fw"></i> Umbraco</a>
		</li>

*@