@inherits Our.Umbraco.Ditto.DittoView<LiveLink.Services.Models.ViewModels.NavigationViewModel>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/browse">LIVELINK</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>
					<!-- Form Controls -->
					<div class="browsecontrols">
						<form class="js-browse-controls" action="#" autocomplete="off">
							<input onClick="this.setSelectionRange(0, this.value.length)" class="browsecontrols__search-input js-search-input" type="text" value="" placeholder="Search..">
							<input class="datepicker" data-role="filter" type="text" name="EarliestDate" value="@DateTime.Now.ToString("MM/dd/yyyy")" placeholder="From..">
							<input class="datepicker" data-role="filter" type="text" name="LatestDate" value="" placeholder="Until..">
							<input class="js-bounds-min-x" data-role="filter" type="hidden" name="BoundMinX" value="1234">
							<input class="js-bounds-max-x" data-role="filter" type="hidden" name="BoundMaxX">
							<input class="js-bounds-min-y" data-role="filter" type="hidden" name="BoundMinY">
							<input class="js-bounds-max-y" data-role="filter" type="hidden" name="BoundMaxY">

							<div class="browsecontrols__search js-search-results">
							</div>
						</form>
					</div>
				</li>
			</ul>
			
			@*
	<ul class="nav navbar-nav">
		@foreach (var item in Model.View.Navigation.Children)
		{
			<li>
				<a href="@item.Url">@item.Title</a>
			</li>
		}
	</ul>
			*@
			<ul class="nav navbar-nav navbar-right">
				
				<!-- ADMINISTRATION - SUPERUSERS ONLY -->
				<li>
					<a href="/umbraco" target="_blank"><i class="fa fa-unlock-alt fa-fw"></i> Umbraco</a>
				</li>
				
				@*
				

				<!-- DROPDOWN MENU -->
				<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					Login
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<div class="col-md-12 col-md-offset-0">
						<br>
						<li class="dropdown-header">Enter your username and password.</li>
						<!-- DROPDOWN LOGIN FORM -->

						<form class="js-login-form" method="post">
							<!-- TODO: CSRF token -->
							<br>
							<div class="input-group margin-bottom-sm">
								<span class="input-group-addon">
									<i class="fa fa-user fa-fw"></i>
								</span>
								<input class="form-control text-box single-line" name="Username" type="text" value=""">
							</div>
							<br/>
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-key fa-fw"></i>
								</span>
								<input class="form-control text-box single-line password" name="Password" type="password" value="">
							</div>
							<br/>
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-key fa-fw"></i>
								</span>
								Remember Me
								<input class="" name="RememberMe" type="checkbox">
							</div>

							<br>
							<button class="btn btn-default js-login" type="submit"><i class="fa fa-sign-in fa-fw"></i> Login</button>
							<button class="btn btn-default js-logout"><i class="fa fa-sign-out fa-fw"></i> Logout</button>
						</form>
					</div>
				</ul>
					*@
			</ul>
		</div>
		<!-- /.navbar-collapse -->
		
		<div class="navbar-collapse navbar-ex1-collapse collapse" aria-expanded="false" style="height: 1px;">
			<ul class="nav navbar-nav side-nav">
				<li class="active">
					<a href="/map"><i class="fa fa-map"></i> Map</a>
				</li>
				<li>
					<a href="/feed"><i class="fa fa-list"></i> Feed</a>
				</li>
				<li>
					<a href="/umbraco" target="_blank"><i class="fa fa-unlock-alt fa-fw"></i> Umbraco</a>
				</li>
				<li>
					<a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
					<ul id="demo" class="collapse">
						<li>
							<a href="#">Dropdown Item</a>
						</li>
						<li>
							<a href="#">Dropdown Item</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<!-- /.container -->
</nav>