@import 'palette';

.browsecontrols {
	position: relative;
	background-color: $dark-0;
	width: 100%;
	height: 100%;

	&__inner {
		padding-left: 30px;
	}

	input[type=text] {
		margin: -2px;
		padding: 16px 16px;
		background-color: $dark-1;

		color: #eee;
		font-family: 'Lato', sans-serif;
		font-size: 1em;

		border: 0px solid #555;
		border-right: 0px solid $dark-0;

		&:focus {
			background-color: $dark-2;
		}
	}

	&__search-input {
		-webkit-transition: width .3s ease;
		transition: width .3s ease;
		width: 200px;

		&:focus {
			width: 300px;
		}
	}

	input:focus,
	select:focus,
	textarea:focus,
	button:focus {
		outline: none;
	}

	&__search {
		left: -2px;
		position: absolute;
		top: 50px;
		max-height: 500px;
		overflow-y: auto;
		width: 420px;
		z-index: 10;
		background-color: $dark-0;
		color: #e0e0e0;
		display: none;

		&.active {
			display: block;
		}

		&-message {
			margin: 15px 12px;
			width: 95%;
		}

		&-result {
			margin: 8px 10px;
			background-color: $dark-1;
			position: relative;
			width: 95%;

			&:hover {
				background-color: $dark-2;
			}

			&-image{
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 90px;
				background-color: $dark-2;
				overflow: hidden;
			}

			&-content {
				margin-left: 90px;
				padding: 15px 10px;
			}
		}

		a, a:hover {
			color: #e0e0e0;
			text-decoration: none;
		}

		&::-webkit-scrollbar {
			width: 12px;
			background-color: $dark-0;
		}

		&::-webkit-scrollbar-track {
			background-color: $dark-1;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 3px;
			background-color: $dark-2;

			&:hover{
				background-color: $dark-3;
			}
		}
	}
}
