@import 'palette';

.ui-datepicker {
	width: auto;
	height: auto;
	margin: 0px auto 0;
	font: 9pt Arial, sans-serif;
	color: $light-text;
	background-color: $light-0;
	font-family: 'Lato', sans-serif;
	border: 0px;
	padding: 5px;

	.ui-datepicker-header {
		background-color: $light-0;
		color: $light-text;
		font-weight: bold;
		font-size: 1.1em;
		filter: dropshadow(color=#aaa, offx=1, offy=-1);
		line-height: 30px;
		border-width: 0px;
		padding: .4em 0px;
	}

	table {
		width: 100%;
		border: 0px;
	}

	th {
		text-transform: uppercase;
		font-size: 7pt;
		padding: 5px 2px;
		color: $light-text;
		text-shadow: 1px 1px 0px $light-2;
		background-color: $light-0;
	}

	thead {
		background-color: $light-0;
	}

	tbody td {

		a {
			border: 0px;
			border-radius: 100%;
			text-align: center;
			margin: 2px;
			height: 30px;
			width: 30px;
			padding-top: 6px;
			font-size: 1.1em;

			&.ui-state-default {
				background-color: $light-1;
				color: $light-text;
				border: 1px solid $light-2;
			}

			&.ui-state-active {
				background-color: $light-1;
				color: $light-text;
				border: 1px solid $light-2;
				-webkit-box-shadow: 0px 0px 0px 2px rgba(201,201,201,0.6);
				-moz-box-shadow: 0px 0px 0px 2px rgba(201,201,201,0.6);
				box-shadow: 0px 0px 0px 2px rgba(201,201,201,0.6);
			}

			&.ui-state-hover {
				background-color: $light-0;
				color: $light-text-hover;
				border: 1px solid $light-1;
				-webkit-box-shadow: 0px 0px 0px 2px rgba(201,201,201,0.2);
				-moz-box-shadow: 0px 0px 0px 2px rgba(201,201,201,0.2);
				box-shadow: 0px 0px 0px 2px rgba(201,201,201,0.2);
			}
		}
	}


	.ui-datepicker-prev, .ui-datepicker-next {
		color: $light-text;
		display: inline-block;
		width: 30px;
		height: 30px;
		text-align: center;
		cursor: pointer;
		background-repeat: no-repeat;
		line-height: 600%;
		overflow: hidden;
		background-color: $light-0;
		border-radius: 100%;

		&.ui-state-hover{
			border: 0px;
			background-color: $light-1;
		}
	}
}



.ui-datepicker-title {
	text-align: center;
}

.ui-widget.ui-widget-content {
	border: 0px;
}

.ui-widget-header .ui-icon {
	background-image: url("http://download.jqueryui.com/themeroller/images/ui-icons_d0d0d0_256x240.png");
}