
.event {
	margin-top: 25px;
	margin-bottom: 30px;

	&__header {

		&-details {
			margin-top: 5px;
			background-color: #f6f6f6;
			padding: 15px;
			line-height: 1.8em;
		}

		&-title {
			font-size: 4em;
		}

		&-date {
		}

		&-venue {
		}

		&-ticket {
		}

		&-date, &-venue {
			font-size: 1.1em;
			margin-right: 10px;
		}
	}

	&__body {
		margin-top: 20px;

		&-image{
			overflow: hidden;

			img{
				width: 100%;
			}
		}

		&-map{
			width: 100%;
			height: 320px;
		}
	}

	hr {

	}
}