
.infowindow {
	max-width: 314px;
	max-height:300px;
	overflow: hidden;
	overflow-y: auto;
}

.infowindow__container {
	width: 300px;
	padding-left: 12px;
}

.infowindow__inner {
	margin-right: 2px;
}