
.listing__container {
	width: auto;
	margin: auto;
	margin-bottom: 60px;
}

.listing {
	max-width: 320px;
	width:  320px;
	-webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.2);
	box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.2);
	margin: 1px 10px;
	opacity: 0.95;
	overflow: hidden;

	background-color: #fafafa;

	&:hover {
		opacity: 1;
	}

	a, a:hover {
		text-decoration: none;

	}

	 a:hover {
		 text-decoration: solid;
	 }
}

.listing__image {
	max-height: 200px;
	width: 100%;
	overflow: hidden;
}

.listing__content {
	padding: 2px 15px;
	padding-bottom: 5px;
	position: relative;
}

.listing__venuelogo {
	position: absolute;
	top: -48px;
	right: 15px;
}
