
.map__container {
    height: -webkit-calc(100% - 50px);
    height:    -moz-calc(100% - 50px);
    height:         calc(100% - 50px);
}

.map {
	height: -webkit-calc(100% - 50px);
    height:    -moz-calc(100% - 50px);
    height:         calc(100% - 50px);
	width: 100%;
}

.mapcontrols {
	height:	50px;
	width: 100%;
	background-color: #EEE;
}
