table {
	& td, th {
		@include padding(8px, 8px, 23px, 23px);
	}

	& th {
		background-color: #FAFAFA;
	}
}

.scroll-container-outer {
	max-height: 100%;
	max-width: 100%;
	overflow: auto;
}

html,body { 
    height:100%; 

}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.full-height {
    height: 100%;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}