@using LiveLink.App_Code
@using Newtonsoft.Json
@inherits Our.Umbraco.Ditto.DittoView<LiveLink.Services.Models.ViewModels.MapViewModel>
@{
	Layout = "Master.cshtml";
}

<div class="map__container">
	<!-- Map -->
	<div class="map"></div>
</div>

@Html.Partial("Overlay")

@section JSPlugins
{
	<script type="text/mustache" id="infoWindowTemplate">
		@Html.RenderRawContent("~/Views/Partials/InfoWindow.mustache")
	</script>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFMn4IZfdJTexYRh6MfL6fqNbukCIwj9I">
	</script>

	<script src="~/scripts/infobox.js"></script>
}